<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Music</title>
    <link rel="stylesheet" type="text/css" href="static/styles/music.css">
  </head>
  <body>
    <div class="logo">
      <img src="static/Logos/efjay.jpg" width ="150" height ="150" >
      <img src="static/Logos/efjay_inverted.jpg" width ="150" height ="150" class="top">
    </div>
    <p> <font color ="pink">Music</font>   <a href="/video">Videography</a>    <a href="/">Photo</a>
    </p>

    <h1>
      <a href="https://open.spotify.com/artist/6nHdjlDdyCmdBicuNa2nSq?si=R5jIE2XOQTGtVulKci6wQg" target="_blank"><img src = "static/Logos/Spotify.png"  width = 5% height = 5% ></a>
      <a href="https://itunes.apple.com/au/artist/efjay/1316866662" target="_blank"><img src = "static/Logos/applemusic.jpg"  width = 5% height = 5% ></a>
      <a href="https://soundcloud.com/user-804363669-228367952" target="_blank"><img src = "static/Logos/soundcloud_edited.jpg"  width = 5% height = 5% ></a>


    </h1>
    <h2>
    <video width = "602" height = "402" autoplay loop >
    <source src="static/Videos/music.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </h2>
    </video>
  </head>
</html>
