<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles/photo.css">
    <meta charset="utf-8">
    <title>Photo</title>
    
  </head>
  <body>
    <div class="logo">
      <img src="static/Logos/efjay.jpg" width ="150" height ="150" >
        <img src="static/Logos/efjay_inverted.jpg" width ="150" height ="150" class="top" >
    </div>
    <p> <a href="/music">Music</a>   <a href="/video">Videography</a>    <font color="pink">Photo</font>
    </p>
    <h1>
      <a href="https://www.instagram.com/efjayoriginal/?hl=en" target="_blank"><img src = "static/Logos/ig_logo.png"  width = "25" height = "25" alt="test"></a> <br>
      <a href="https://www.instagram.com/efjayoriginal/?hl=en" target="_blank">@efjayoriginal</a> <br> <br> <br>
      <img src = "static/Images/subway.jpg"  width = "602" height = "402" >
      <br> <br> <br>  <br> <br> <br>
      <img src = "static/Images/under_bridge2.jpg"  width = 100% height =  >
      <br> <br> <br><br> <br> <br>
      <img src = "static/Images/yellow2.jpg"  width = "602" height = "402" >
      <br> <br> <br> <br> <br> <br>
      <img src = "static/Images/space.jpg"  width = "602" height = "402" >
      <br> <br> <br>
    </h1>
  </body>
</html>
